
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    .header{
        @include flex(space-between);
        padding: 20px 0px;
        
        
        .logo{
           width: auto;
           max-width: 100%;
           vertical-align: middle; 
           border-radius: 10px;
        
        }
        nav{
            .menu-list{
                display: flex;
                gap: 30px;
            a{
                text-decoration: none;
                font-family: $font-family;
                color: $color-white;
          
            }
            a:hover{
                color:$color-red;
            }
            }
        }
        .social{
           @include flex(space-between);
           gap:20px;
           a{
            color: $color-white;
           }
           a:hover{
            color:$color-red;
           }
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {

  
  }

  @media only screen and (max-width: 767px) {
    header .container{
      width: 80%;
      margin: auto !important;
    }
    header .header nav  {
      display: none !important; 
    }
    header .header .social {
      display: flex; 
      gap: 10px; 
    }

}