.gallery{
    .text-center{
        ul{
            @include flex();
            gap: 50px;
            padding: 80px 0;
            li{
                font-family: P$poppins;
                font-weight: 500;
                font-size: 15px;
                color: $dark-gray;
                text-transform: uppercase;
                letter-spacing: 2px;               
            }
            li:hover{
              background-color: black;
              width: 130px;
              height: 20px;
              border-radius: 10px;
              border: none;
              text-align: center;
              color: white;
            }
        }
    }
    .row{
        .col-4{
            position: relative;
            overflow: hidden;
            img{
                width: 100%;
                height: auto;
                margin-top: 40px;
                border-radius: 10px;
                transition: transform 0.3s ease;
            }
        
        }
    }
}