.gallery {
    .text-cent {
        ul {
            @include flex();
            gap: 50px;
            padding: 80px 0;

            li {
                font-family: $poppins;
                font-weight: 500;
                font-size: 15px;
                color: $dark-gray;
                text-transform: uppercase;
                letter-spacing: 2px;
            }

            li:hover {
                background-color: black;
                width: 130px;
                height: 20px;
                border-radius: 10px;
                border: none;
                text-align: center;
                color: white;
            }
        }
    }

    .row {
        padding-left: 15px;
        padding-right: 15px;

        .con {
            display: flex;
            .image-container {
                position: relative;
                overflow: hidden;
                margin-bottom: 20px;
                width: 30%;
                .overlay {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 30%;
                    height: 89.5%;
                    background-color: rgba(255, 0, 0, 0.517);
                    opacity: 0;
                    border-radius: 3%;
                    transition: opacity 0.3s ease;
                    @include flex();
                }

                .overlay div {
                    border-radius: 50%;
                    background-color: white;
                    padding: 20px;
                }

                .overlay i {
                    font-size: 18px;
                    color: black;
                }
                img {
                    width: 100%;
                    margin-top: 40px;
                    border-radius: 10px;
                    transition: transform 0.3s ease;
                }
            }
            .image-container:hover .overlay {
                opacity: 1;
            }

            .image-container:hover img {
                transform: scale(1.05);
                border-radius: 7%;
            }
        }
    }

    .click {
        ul {
            @include flex();
            li {

                a {
                    button {
                        border-radius: 50%;
                        width: 36px;
                        height: 36px;
                        margin: 6px;
                        border-style: none;
                        border: 1px solid $primary-gray;
                    }

                    button:hover {
                        background-color: $dark-gray;
                        color: $color-white;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .gallery {
        .text-cent {
            ul {
                flex-direction: column;
                gap: 20px !important;
            }
        }
    }
}