html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
  .container {
    padding: 0 5%;
  }
}

#hero-banner .hero-text a button {
  border-radius: 10px;
  width: 130px;
  height: 40px;
  cursor: pointer;
  background-color: white;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
header .header .logo {
  width: auto;
  max-width: 100%;
  vertical-align: middle;
}
header .header nav .menu-list {
  display: flex;
  gap: 20px;
}
header .header nav .menu-list a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: white;
}
header .header nav .menu-list a:hover {
  color: #ec1d25;
}
header .header .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
header .header .social a {
  color: white;
}
header .header .social a:hover {
  color: #ec1d25;
}

#hero-banner {
  height: 100vh;
  background-image: url("https://preview.colorlib.com/theme/pato/images/slide1-01.jpg.webp");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero-banner .hero-text {
  text-align: center;
}
#hero-banner .hero-text h1 {
  font-family: "Courgette";
  font-size: 60px;
  color: white;
  margin: 0 0 15px;
}
#hero-banner .hero-text p {
  font-family: "Poppins", sans-serif;
  font-size: 90px;
  color: white;
  font-weight: bold;
  margin: 0 0 37px;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 10px;
}
#hero-banner .hero-text a button span {
  color: #ec1d25;
  font-family: "Montserrat", sans-serif;
}
#hero-banner .hero-text a button span:hover {
  color: white;
}
#hero-banner .hero-text a button:hover {
  background-color: #ec1d25;
}
#hero-banner .bottom-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  transition: 0.3 s linear;
}
#hero-banner .bottom-dots #dots {
  display: flex;
  gap: 5px;
}
#hero-banner .bottom-dots #dots li {
  padding-left: 3px;
  padding-right: 3px;
}
#hero-banner .bottom-dots #dots i {
  color: transparent;
  background-color: #958e88;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid transparent;
}
#hero-banner .bottom-dots #dots i:hover {
  color: #ec1d25;
  background-color: white;
}

.welcome-sect {
  background-image: url("/assests/images/pattern1.png.webp");
  background-repeat: repeat;
  padding: 100px 0;
}
.welcome-sect .container .row .text-sect {
  display: flex;
  gap: 30px;
}
.welcome-sect .container .row .text-sect .left {
  text-align: center;
  padding-top: 50px;
}
.welcome-sect .container .row .text-sect .left #italian-rest {
  color: #d61c22;
  font-size: 30px;
  line-height: 1.2;
  font-family: "Courgette";
}
.welcome-sect .container .row .text-sect .left h2 {
  font-size: 50px;
  color: black;
  font-family: "Poppins", sans-serif;
  margin: 5px 0 35px;
}
.welcome-sect .container .row .text-sect .left #tittle-p {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #666666;
  font-family: Montserrat;
  font-weight: 400;
  margin: 0px 22px 28px;
  line-height: 1.7;
}
.welcome-sect .container .row .text-sect .left a {
  text-decoration: none;
  color: #666666;
  font-family: "Montserrat", sans-serif;
}
.welcome-sect .container .row .text-sect .left a:hover {
  color: #d61c22;
}
.welcome-sect .container .row .text-sect .right img {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 10px;
  transition: 300ms linear;
}
.welcome-sect .container .row .text-sect .right img:hover {
  transform: scale(1.1);
}

.pato-place-sect {
  background-image: url("https://preview.colorlib.com/theme/pato/images/bg-intro-01.jpg.webp");
  background-attachment: fixed;
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pato-place-sect .container .parallax {
  text-align: center;
}
.pato-place-sect .container .parallax .tittle-span {
  font-family: "Courgette";
  font-size: 30px;
  line-height: 1.2;
  color: #d61c22;
}
.pato-place-sect .container .parallax .tittle-h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 6px;
}

.content-intro .container .col-4 {
  padding-top: 30px;
}
.content-intro .container .col-4 .img-container {
  border-radius: 10px;
  overflow: hidden;
}
.content-intro .container .col-4 .img-container img {
  width: 100%;
  transition: 300ms linear;
}
.content-intro .container .col-4 img:hover {
  transform: scale(1.1);
}
.content-intro .container .col-4 h3 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 22px;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.content-intro .container .col-4 p {
  margin: 0 0 20px;
  font-family: "Montserrat", sans-serif;
}
.content-intro .container .col-4 a {
  color: #3D3D3D;
  text-decoration: none;
}
.content-intro .container .col-4 a .fa-solid {
  font-size: 12px;
  color: #222222;
}

.our-menu {
  background-image: url("/assests/images/pattern2.png.webp");
  background-repeat: repeat;
  padding: 100px 0;
  margin-top: 200px;
}
.our-menu .container .text-content {
  text-align: center;
}
.our-menu .container .text-content .tittle-span {
  font-family: "Courgette";
  font-size: 30px;
  line-height: 1.2;
  color: #d61c22;
}
.our-menu .container .text-content .tittle-h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 6px;
  color: #222222;
}
.our-menu .container .parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.our-menu .container .parent .div1 {
  grid-area: 1/1/5/2;
}
.our-menu .container .parent .div2 {
  grid-area: 1/2/5/3;
}
.our-menu .container .parent .div3 {
  grid-area: 1/3/3/4;
}
.our-menu .container .parent .div4 {
  grid-area: 5/3/7/4;
}
.our-menu .container .parent .div5 {
  grid-area: 5/1/7/3;
}
.our-menu .container .parent .div6 {
  grid-area: 3/3/5/4;
}
.our-menu .container .parent img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  transition: 0.5s linear;
}
.our-menu .container .parent div {
  overflow: hidden;
}
.our-menu .container .parent div:hover img {
  transform: scale(1.1);
}

.reservation-sect {
  background-image: url("/assests/images/pattern1.png.webp");
  background-repeat: repeat;
  padding: 100px 0;
}
.reservation-sect .container .txt-center {
  text-align: center;
}
.reservation-sect .container .txt-center .tittle-span {
  font-family: "Courgette";
  font-size: 30px;
  line-height: 1.2;
  color: #d61c22;
  margin-left: 200px;
}
.reservation-sect .container .txt-center .tittle-h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: black;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 6px;
}
.reservation-sect .container .txt-center p {
  color: #555555;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  display: flex;
}
.reservation-sect .container .txt-center .reserv-form {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 23px;
  margin-top: 3px;
}
.reservation-sect .container img {
  border-radius: 10px;
  max-width: 390px;
  margin: auto;
  display: block;
  transition: 0.5s linear;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}
.reservation-sect .container .img {
  overflow: hidden;
}
.reservation-sect .container .img:hover img {
  transform: scale(1.1);
}
.reservation-sect .container button {
  margin-top: 30px;
  width: 20%;
  border: none;
}
.reservation-sect .container button:hover {
  background-color: #d61c22;
}

.customer-review .container .txt-center {
  text-align: center;
  padding: 100px 0;
  position: relative;
}
.customer-review .container .txt-center .tittle-span {
  font-family: "Courgette";
  font-size: 30px;
  line-height: 1.2;
  color: #d61c22;
}
.customer-review .container .txt-center .tittle-h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 6px;
  color: #222222;
}
.customer-review .container .txt-center img {
  border-radius: 50%;
  width: 118px;
  height: 118px;
  border: 4px solid #ec1d25;
  overflow: hidden;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.customer-review .container .txt-center p {
  color: #666666;
  font-family: "Montserrat", sans-serif, sans-serif;
  font-size: 18px;
  margin: 0 140px;
  margin-top: 30px;
}
.customer-review .container .txt-center ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.customer-review .container .txt-center .fa-solid {
  color: #ec1d25;
}
.customer-review .container .txt-center .cls-p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.customer-review .container .txt-center .bottom-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  transition: 0.3 s linear;
}
.customer-review .container .txt-center .bottom-dots #dots {
  display: flex;
  gap: 5px;
}
.customer-review .container .txt-center .bottom-dots #dots li {
  padding-left: 3px;
  padding-right: 3px;
}
.customer-review .container .txt-center .bottom-dots #dots i {
  color: transparent;
  background-color: #958e88;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid transparent;
}
.customer-review .container .txt-center .bottom-dots #dots i:hover {
  color: #ec1d25;
  background-color: #ec1d25;
}
.customer-review .container .left button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 40%;
  left: 50px;
  right: auto;
  width: 60px;
  height: 60px;
  font-size: 16px;
  color: white;
  background-color: #666666;
  border: none;
}
.customer-review .container .left button:hover {
  background-color: #d61c22;
}
.customer-review .container .left .fa-chevron-left {
  color: white;
}

.video-sect {
  background-image: url("/assests/images/bg-cover-video-02.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
.video-sect .container .txt-content {
  text-align: center;
  padding: 100px 0;
}
.video-sect .container .txt-content .tittle-span {
  font-family: "Courgette";
  font-size: 40px;
  line-height: 1.2;
  color: #d61c22;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 70px;
}
.video-sect .container .txt-content .tittle-h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 6px;
  color: white;
  margin-top: 20px;
}
.video-sect .container .txt-content button {
  width: 70px;
  height: 70px;
  margin-top: 45px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: none;
  transition: 0.3s linear;
}
.video-sect .container .txt-content i {
  color: black;
  font-size: 16px;
}
.video-sect .container .txt-content button:hover {
  background-color: rgba(214, 28, 34, 0.5333333333);
  transform: scale(1.2);
}

.blog-sect .text-center {
  text-align: center;
  padding: 100px 0;
}
.blog-sect .text-center .tittle-span {
  font-family: "Courgette";
  font-size: 30px;
  line-height: 1.2;
  color: #d61c22;
}
.blog-sect .text-center .tittle-h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 6px;
  color: #222222;
}
.blog-sect .row .col-4 {
  padding-top: 30px;
}
.blog-sect .row .col-4 img {
  width: 100%;
  border-radius: 10px;
  transition: 300ms linear;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-sect .row .col-4 .div {
  overflow: hidden;
}
.blog-sect .row .col-4 img:hover {
  transform: scale(1.1);
}
.blog-sect .row .col-4 h3 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 22px;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.blog-sect .row .col-4 p {
  margin: 0 0 20px;
  font-family: "Montserrat", sans-serif;
  color: rgb(149, 146, 146);
}
.blog-sect .row .col-4 a {
  color: #3D3D3D;
  text-decoration: none;
  margin-left: 20px;
}
.blog-sect .row .col-4 a .fa-solid {
  font-size: 12px;
  color: #222222;
}