html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
  .container {
    padding: 0 5%;
  }
}

#hero-banner .hero-text a button {
  border-radius: 10px;
  width: 130px;
  height: 40px;
  cursor: pointer;
  background-color: white;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
header .header .logo {
  width: auto;
  max-width: 100%;
  vertical-align: middle;
}
header .header nav .menu-list {
  display: flex;
  gap: 20px;
}
header .header nav .menu-list a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: white;
}
header .header nav .menu-list a:hover {
  color: #ec1d25;
}
header .header .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
header .header .social a {
  color: white;
}
header .header .social a:hover {
  color: #ec1d25;
}

#hero-banner {
  height: 100vh;
  background-image: url("https://preview.colorlib.com/theme/pato/images/slide1-01.jpg.webp");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero-banner .hero-text {
  text-align: center;
}
#hero-banner .hero-text h1 {
  font-family: "Courgette";
  font-size: 60px;
  color: white;
  margin: 0 0 15px;
}
#hero-banner .hero-text p {
  font-family: "Poppins", sans-serif;
  font-size: 90px;
  color: white;
  font-weight: bold;
  margin: 0 0 37px;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 10px;
}
#hero-banner .hero-text a button span {
  color: #ec1d25;
  font-family: "Montserrat", sans-serif;
}
#hero-banner .hero-text a button span:hover {
  color: white;
}
#hero-banner .hero-text a button:hover {
  background-color: #ec1d25;
}
#hero-banner .bottom-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  transition: 0.3 s linear;
}
#hero-banner .bottom-dots #dots {
  display: flex;
  gap: 5px;
}
#hero-banner .bottom-dots #dots li {
  padding-left: 3px;
  padding-right: 3px;
}
#hero-banner .bottom-dots #dots i {
  color: transparent;
  background-color: #958e88;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid transparent;
}
#hero-banner .bottom-dots #dots i:hover {
  color: #ec1d25;
  background-color: white;
}

.welcome-sect {
  background-image: url("/assests/images/pattern1.png.webp");
  background-repeat: repeat;
  padding: 100px 0;
}
.welcome-sect .container .row .text-sect {
  display: flex;
  gap: 30px;
}
.welcome-sect .container .row .text-sect .left {
  text-align: center;
  padding-top: 50px;
}
.welcome-sect .container .row .text-sect .left #italian-rest {
  color: #d61c22;
  font-size: 30px;
  line-height: 1.2;
  font-family: "Courgette";
}
.welcome-sect .container .row .text-sect .left h2 {
  font-size: 50px;
  color: black;
  font-family: "Poppins", sans-serif;
  margin: 5px 0 35px;
}
.welcome-sect .container .row .text-sect .left #tittle-p {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #666666;
  font-family: Montserrat;
  font-weight: 400;
  margin: 0px 22px 28px;
  line-height: 1.7;
}
.welcome-sect .container .row .text-sect .left a {
  text-decoration: none;
  color: #666666;
  font-family: "Montserrat", sans-serif;
}
.welcome-sect .container .row .text-sect .left a:hover {
  color: #d61c22;
}
.welcome-sect .container .row .text-sect .right img {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 10px;
  transition: 300ms linear;
}
.welcome-sect .container .row .text-sect .right img:hover {
  transform: scale(1.1);
}

.pato-place-sect {
  background-image: url("https://preview.colorlib.com/theme/pato/images/bg-intro-01.jpg.webp");
  background-attachment: fixed;
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pato-place-sect .container .parallax {
  text-align: center;
}
.pato-place-sect .container .parallax span {
  font-family: "Courgette";
  font-size: 30px;
  line-height: 1.2;
  color: #d61c22;
}
.pato-place-sect .container .parallax h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 6px;
}