html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container {
    padding: 0 5%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

#hero-banner .hero-text a button {
  border-radius: 10px;
  width: 130px;
  height: 40px;
  cursor: pointer;
  background-color: white;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
header .header .logo {
  width: auto;
  max-width: 100%;
  vertical-align: middle;
}
header .header nav .menu-list {
  display: flex;
  gap: 30px;
}
header .header nav .menu-list a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: white;
}
header .header nav .menu-list a:hover {
  color: #ec1d25;
}
header .header .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
header .header .social a {
  color: white;
}
header .header .social a:hover {
  color: #ec1d25;
}

@media only screen and (max-width: 767px) {
  header .container {
    width: 80%;
    margin: auto !important;
  }
  header .header nav {
    display: none !important;
  }
  header .header .social {
    display: flex;
    gap: 10px;
  }
}
.footer-sect1 {
  background-color: #222222;
  padding: 40px;
}
.footer-sect1 a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #ec1d25;
  line-height: 1.7;
  text-decoration: none !important;
}
.footer-sect1 .col-md-4 ul li {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #999999;
  line-height: 1.7;
  margin-bottom: 14px;
}
.footer-sect1 .col-md-4 i {
  color: white;
}
.footer-sect1 .col-md-4 h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 33px;
  padding-top: 20px;
}
.footer-sect1 .col-md-4 p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  color: #999999;
  line-height: 1.7;
  margin-bottom: 14px;
}
.footer-sect1 .col-md-4 .parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
.footer-sect1 .col-md-4 .parent .div1 {
  grid-area: 1/1/2/2;
}
.footer-sect1 .col-md-4 .parent .div2 {
  grid-area: 1/2/2/3;
}
.footer-sect1 .col-md-4 .parent .div3 {
  grid-area: 1/3/2/4;
}
.footer-sect1 .col-md-4 .parent .div4 {
  grid-area: 1/4/2/5;
}
.footer-sect1 .col-md-4 .parent .div5 {
  grid-area: 2/1/3/2;
}
.footer-sect1 .col-md-4 .parent .div6 {
  grid-area: 2/2/3/3;
}
.footer-sect1 .col-md-4 .parent .div7 {
  grid-area: 2/3/3/4;
}
.footer-sect1 .col-md-4 .parent .div8 {
  grid-area: 2/4/3/5;
}
.footer-sect1 .col-md-4 .parent .div9 {
  grid-area: 3/1/4/2;
}
.footer-sect1 .col-md-4 .parent .div10 {
  grid-area: 3/2/4/3;
}
.footer-sect1 .col-md-4 .parent .div11 {
  grid-area: 3/3/4/4;
}
.footer-sect1 .col-md-4 .parent .div12 {
  grid-area: 3/4/4/5;
}
.footer-sect1 .col-md-4 .parent div {
  position: relative;
}
.footer-sect1 .col-md-4 .parent img {
  width: 100%;
  height: auto;
  background-size: cover;
  transition: 0.5s ease;
}
.footer-sect1 .col-md-4 .parent div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.5s ease;
}
.footer-sect1 .col-md-4 .parent div:hover::after {
  background-color: rgba(255, 0, 0, 0.634);
}

.footer-2 {
  background-color: black;
  padding: 40px;
}
.footer-2 .content ul {
  display: flex;
  gap: 20px;
}
.footer-2 .content ul li a {
  text-decoration: none;
}
.footer-2 .content ul li a i {
  color: white;
}
.footer-2 .content ul li a i:hover {
  color: #ec1d25;
}
.footer-2 .content .theme {
  justify-content: flex-end;
  color: #999999;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .footer-sect1 .col-4,
  .footer-2 .col-6 {
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
  }
  .footer-sect1 .col-4 h4,
  .footer-2 .col-6 .theme {
    text-align: center;
  }
  .footer-sect1 .col-4 ul {
    padding-left: 0;
    text-align: center;
  }
  .footer-sect1 .col-4 ul li {
    margin-left: 0;
  }
}
@media only screen and (max-width: 768px) {
  .footer-2 .content {
    flex-direction: column;
    align-items: center;
  }
  .footer-2 .content ul {
    margin-bottom: 20px;
  }
  .footer-2 .content ul li {
    margin-right: 0;
  }
}
#hero-banner {
  height: 100vh;
  background-image: url("https://preview.colorlib.com/theme/pato/images/slide1-01.jpg.webp");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero-banner .hero-text {
  text-align: center;
}
#hero-banner .hero-text h1 {
  font-family: "Courgette";
  font-size: 60px;
  color: white;
  margin: 0 0 15px;
}
#hero-banner .hero-text p {
  font-family: "Poppins", sans-serif;
  font-size: 90px;
  color: white;
  font-weight: bold;
  margin: 0 0 37px;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 10px;
}
#hero-banner .hero-text a button span {
  color: #ec1d25;
  font-family: "Montserrat", sans-serif;
}
#hero-banner .hero-text a button span:hover {
  color: white;
}
#hero-banner .hero-text a button:hover {
  background-color: #ec1d25;
}
#hero-banner .bottom-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  transition: 0.3 s linear;
}
#hero-banner .bottom-dots #dots {
  display: flex;
  gap: 5px;
}
#hero-banner .bottom-dots #dots li {
  padding-left: 3px;
  padding-right: 3px;
}
#hero-banner .bottom-dots #dots i {
  color: transparent;
  background-color: #958e88;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid transparent;
}
#hero-banner .bottom-dots #dots i:hover {
  color: #ec1d25;
  background-color: white;
}

.welcome-sect {
  background-image: url("/assests/images/pattern1.png.webp");
  background-repeat: repeat;
  padding: 100px 0;
}
.welcome-sect .container .row .text-sect {
  display: flex;
  gap: 30px;
}
.welcome-sect .container .row .text-sect .left {
  text-align: center;
  padding-top: 50px;
}
.welcome-sect .container .row .text-sect .left #italian-rest {
  color: #d61c22;
  font-size: 30px;
  line-height: 1.2;
  font-family: "Courgette";
}
.welcome-sect .container .row .text-sect .left h2 {
  font-size: 50px;
  color: black;
  font-family: "Poppins", sans-serif;
  margin: 5px 0 35px;
}
.welcome-sect .container .row .text-sect .left #tittle-p {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #666666;
  font-family: Montserrat;
  font-weight: 400;
  margin: 0px 22px 28px;
  line-height: 1.7;
}
.welcome-sect .container .row .text-sect .left a {
  text-decoration: none;
  color: #666666;
  font-family: "Montserrat", sans-serif;
}
.welcome-sect .container .row .text-sect .left a:hover {
  color: #d61c22;
}
.welcome-sect .container .row .text-sect .right {
  border-radius: 10px;
  overflow: hidden;
}
.welcome-sect .container .row .text-sect .right img {
  width: 100%;
  transition: 300ms linear;
}
.welcome-sect .container .row .text-sect .right img:hover {
  transform: scale(1.1);
}

.pato-place-sect {
  background-image: url("https://preview.colorlib.com/theme/pato/images/bg-intro-01.jpg.webp");
  background-attachment: fixed;
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pato-place-sect .container .parallax {
  text-align: center;
}
.pato-place-sect .container .parallax .tittle-span {
  font-family: "Courgette";
  font-size: 30px;
  line-height: 1.2;
  color: #d61c22;
}
.pato-place-sect .container .parallax .tittle-h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 6px;
}

.content-intro {
  padding: 100px 0;
}
.content-intro .container .col-md-4 {
  padding-top: 30px;
}
.content-intro .container .col-md-4 .img-container {
  border-radius: 10px;
  overflow: hidden;
}
.content-intro .container .col-md-4 .img-container img {
  width: 100%;
  transition: 300ms linear;
}
.content-intro .container .col-md-4 img:hover {
  transform: scale(1.1);
}
.content-intro .container .col-md-4 h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.content-intro .container .col-md-4 p {
  margin: 0 0 20px;
  font-family: "Montserrat", sans-serif;
}
.content-intro .container .col-md-4 a {
  color: #3D3D3D;
  text-decoration: none;
}
.content-intro .container .col-md-4 a .fa-solid {
  font-size: 12px;
  color: #222222;
}

.our-menu {
  background-image: url("/assests/images/pattern2.png.webp");
  background-repeat: repeat;
  padding: 100px 0;
  margin-top: 200px;
}
.our-menu .container .text-content {
  text-align: center;
}
.our-menu .container .text-content .tittle-span {
  font-family: "Courgette";
  font-size: 30px;
  line-height: 1.2;
  color: #d61c22;
}
.our-menu .container .text-content .tittle-h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 6px;
  color: #222222;
}
.our-menu .container .parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.our-menu .container .parent * {
  position: relative;
}
.our-menu .container .parent a.pic-top-button {
  text-decoration: none;
  background-color: white;
  border-radius: 10px;
  opacity: 0.9;
  width: 150px;
  height: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-menu .container .parent .div1 {
  grid-area: 1/1/5/2;
}
.our-menu .container .parent .div2 {
  grid-area: 1/2/5/3;
}
.our-menu .container .parent .div3 {
  grid-area: 1/3/3/4;
}
.our-menu .container .parent .div4 {
  grid-area: 5/3/7/4;
}
.our-menu .container .parent .div5 {
  grid-area: 5/1/7/3;
}
.our-menu .container .parent .div6 {
  grid-area: 3/3/5/4;
}
.our-menu .container .parent img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  transition: 0.5s linear;
}
.our-menu .container .parent div {
  overflow: hidden;
}
.our-menu .container .parent div:hover img {
  transform: scale(1.1);
  z-index: -1;
}

.upcom {
  background-image: url("/assests/images/Menu_files/bg-event-01.jpg.webp");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.upcom .txt-center {
  text-align: center;
  padding: 60px 0;
}
.upcom .txt-center .tittle-span {
  font-family: "Courgette";
  font-size: 30px;
  line-height: 1.2;
  color: #d61c22;
}
.upcom .txt-center .tittle-h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 6px;
  color: white;
}
.upcom .upcom-content {
  display: flex;
}
.upcom .upcom-content .left {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.upcom .upcom-content .left img {
  width: 90%;
}
.upcom .upcom-content .left .time-event {
  position: relative;
  opacity: 0.9;
  background-color: rgba(207, 34, 40, 0.9137254902);
  width: 50px;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.upcom .upcom-content .left .time-event span {
  width: 390px;
  height: 50px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(90deg);
}
.upcom .upcom-content .right {
  width: 50%;
  background-color: white;
}
.upcom .upcom-content .right .text-cent {
  text-align: center;
  padding: 50px 0;
}
.upcom .upcom-content .right .text-cent h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500px;
  font-size: 22px;
  line-height: 1.2px;
  letter-spacing: 3px;
  color: #222222;
}
.upcom .upcom-content .right .text-cent p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.7;
  color: #666666;
  font-weight: 400;
  padding: 20px 0;
}
.upcom .upcom-content .right .number {
  display: flex;
  gap: 70px;
  margin-left: 30px;
  justify-content: center;
}
.upcom .upcom-content .right .number .num {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2px;
}
.upcom .upcom-content .right .number .num .date {
  color: #ec1d25;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.1;
  letter-spacing: 3px;
}
.upcom .upcom-content .right .number .num .day {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #999999;
  letter-spacing: 1px;
  font-weight: 700;
}
.upcom .upcom-content .right a {
  font-family: "Montserrat", sans-serif;
  color: #222222;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upcom .upcom-content .right i {
  margin-left: 10px;
}
.upcom .upcom-content .right a:hover {
  color: #ec1d25;
}

.reservation-sect {
  background-image: url("/assests/images/pattern1.png.webp");
  background-repeat: repeat;
  padding: 100px 0;
}
.reservation-sect .container .row .col-6 {
  color: #555555;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  overflow: hidden;
}
.reservation-sect .container .row .reserv-form {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 23px;
  margin-top: 3px;
}
.reservation-sect .container .row .book-pic {
  border-radius: 10px;
  max-width: 390px;
  margin: auto;
  display: block;
  transition: 0.5s linear;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}
.reservation-sect .container .row img {
  transition: 300ms linear;
}
.reservation-sect .container .row img:hover {
  transform: scale(1.1);
}
.reservation-sect .container .row .button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reservation-sect .container .row .button button {
  margin-top: 30px;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: #111111;
  margin: 6px 0 0;
}
.reservation-sect .container .row button:hover {
  background-color: #d61c22;
}
.reservation-sect .txt-center {
  text-align: center;
}
.reservation-sect .txt-center .tittle-span {
  font-family: "Courgette";
  font-size: 30px;
  line-height: 1.2;
  color: #d61c22;
}
.reservation-sect .txt-center .tittle-h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: black;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 6px;
}

.customer-review .container .txt-center {
  text-align: center;
  padding: 100px 0;
  position: relative;
}
.customer-review .container .txt-center .tittle-span {
  font-family: "Courgette";
  font-size: 30px;
  line-height: 1.2;
  color: #d61c22;
}
.customer-review .container .txt-center .tittle-h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 6px;
  color: #222222;
}
.customer-review .container .txt-center img {
  border-radius: 50%;
  width: 118px;
  height: 118px;
  border: 4px solid #ec1d25;
  overflow: hidden;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.customer-review .container .txt-center p {
  color: #666666;
  font-family: "Montserrat", sans-serif, sans-serif;
  font-size: 18px;
  margin: 0 140px;
  margin-top: 30px;
}
.customer-review .container .txt-center ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.customer-review .container .txt-center .fa-solid {
  color: #ec1d25;
}
.customer-review .container .txt-center .cls-p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.customer-review .container .txt-center .bottom-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  transition: 0.3 s linear;
}
.customer-review .container .txt-center .bottom-dots #dots {
  display: flex;
  gap: 5px;
}
.customer-review .container .txt-center .bottom-dots #dots li {
  padding-left: 3px;
  padding-right: 3px;
}
.customer-review .container .txt-center .bottom-dots #dots i {
  color: transparent;
  background-color: #958e88;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid transparent;
}
.customer-review .container .txt-center .bottom-dots #dots i:hover {
  color: #ec1d25;
  background-color: #ec1d25;
}
.customer-review .container .left button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 40%;
  left: 50px;
  right: auto;
  width: 60px;
  height: 60px;
  font-size: 16px;
  color: white;
  background-color: #666666;
  border: none;
}
.customer-review .container .left button:hover {
  background-color: #d61c22;
}
.customer-review .container .left .fa-chevron-left {
  color: white;
}

.video-sect {
  background-image: url("/assests/images/bg-cover-video-02.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
.video-sect .container .txt-content {
  text-align: center;
  padding: 100px 0;
}
.video-sect .container .txt-content .tittle-span {
  font-family: "Courgette";
  font-size: 40px;
  line-height: 1.2;
  color: #d61c22;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 70px;
}
.video-sect .container .txt-content .tittle-h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 6px;
  color: white;
  margin-top: 20px;
}
.video-sect .container .txt-content button {
  width: 70px;
  height: 70px;
  margin-top: 45px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: none;
  transition: 0.3s linear;
}
.video-sect .container .txt-content i {
  color: black;
  font-size: 16px;
}
.video-sect .container .txt-content button:hover {
  background-color: rgba(214, 28, 34, 0.5333333333);
  transform: scale(1.2);
}

.blog-sect {
  padding: 100px 0;
}
.blog-sect .text-cent {
  text-align: center;
  padding: 100px 0;
}
.blog-sect .text-cent .tittle-span {
  font-family: "Courgette";
  font-size: 30px;
  line-height: 1.2;
  color: #d61c22;
}
.blog-sect .text-cent .tittle-h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 6px;
  color: #222222;
}
.blog-sect .row .col-md-4 {
  padding-top: 30px;
  position: relative;
}
.blog-sect .row .col-md-4 img {
  width: 100%;
  border-radius: 10px;
  transition: 300ms linear;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-sect .row .col-md-4 .time-sect {
  border-radius: 4px;
}
.blog-sect .row .col-md-4 .time-sect p {
  position: absolute;
  left: 25px;
  bottom: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: white;
}
.blog-sect .row .col-md-4 .div {
  overflow: hidden;
}
.blog-sect .row .col-md-4 img:hover {
  transform: scale(1.1);
}
.blog-sect .row .col-md-4 h3 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 22px;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.blog-sect .row .col-md-4 h3:hover {
  color: #ec1d25;
  cursor: pointer;
}
.blog-sect .row .col-md-4 p {
  margin: 0 0 20px;
  font-family: "Montserrat", sans-serif;
  color: rgb(149, 146, 146);
}
.blog-sect .row .col-md-4 a {
  text-decoration: none;
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.blog-sect .row .col-md-4 a .fa-solid {
  font-size: 12px;
  color: #222222;
}
.blog-sect .row .col-md-4 a:hover,
.blog-sect .row .col-md-4 .fa-solid:hover {
  color: #ec1d25;
}

.sign-up {
  background-image: url("/assests/images/pattern1.png.webp");
  background-repeat: repeat;
  padding: 100px 0;
}
.sign-up .row {
  padding: 0 5px;
}
.sign-up .row .col-4 {
  position: relative;
}
.sign-up .row .col-4 p {
  margin: 10px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 22px;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.sign-up .row .col-4 i.fa-solid.fa-envelope {
  position: absolute;
  right: 25px;
  top: 10px;
  color: black;
}
.sign-up .row button {
  background: #111111;
  border-radius: 10px;
  width: 160px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.sign-up .row button:hover {
  background-color: #ec1d25;
  border-style: none;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .reservation-sect .container .row .col-lg-6 {
    width: calc(50% - 20px);
    float: left;
    margin-bottom: 20px;
    padding-bottom: 30px;
    margin: 0 auto;
  }
  .reservation-sect .container .row .col-lg-6.img {
    width: 100%;
    float: none;
    padding-bottom: 30px;
    padding-top: 18px;
  }
  .reservation-sect .container .row .col-lg-6 .button {
    text-align: center;
  }
  .reservation-sect .container .row .col-lg-6 .button button {
    width: 100%;
  }
}
/*  upcoming section*/
@media only screen and (max-width: 1024px) {
  .upcom .upcom-content .right .number {
    gap: 30px !important;
  }
}
/*  video section*/
@media only screen and (max-width: 991px) {
  .video-sect {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-attachment: scroll;
  }
  .video-sect .container .txt-content {
    text-align: center;
  }
  .video-sect .container .txt-content .tittle-span {
    font-size: 30px;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .video-sect .container .txt-content .tittle-h3 {
    font-size: 40px;
    margin-top: 10px;
  }
  .video-sect .container .txt-content button {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .video-sect .container .txt-content button i {
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  .welcome-sect {
    padding: 50px 0;
  }
  .welcome-sect .row {
    padding-left: 0;
    margin-left: 0;
  }
  .welcome-sect .row .text-sect {
    flex-direction: column;
    gap: 20px;
  }
  .welcome-sect .row .text-sect .left {
    text-align: center;
  }
  .welcome-sect .row .text-sect .left #italian-rest {
    font-size: 25px;
    padding-top: 30px;
  }
  .welcome-sect .row .text-sect .left h2 {
    font-size: 40px;
    margin: 5px 0 20px;
  }
  .welcome-sect .row .text-sect .left #tittle-p {
    font-size: 14px;
    margin: 0 15px 20px;
  }
  .welcome-sect .row .text-sect .left a {
    font-size: 14px;
  }
  .welcome-sect .row .text-sect .right img {
    border-radius: 0;
    margin-top: 20px;
  }
  .our-menu .container .text-content .tittle-span {
    font-size: 24px;
  }
  .our-menu .container .text-content .tittle-h3 {
    font-size: 36px;
    letter-spacing: 5px;
    word-spacing: 3px;
  }
  .our-menu .container .parent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-row-gap: 20px;
  }
  .our-menu .container .parent .div1,
  .our-menu .container .parent .div2,
  .our-menu .container .parent .div3,
  .our-menu .container .parent .div4,
  .our-menu .container .parent .div5,
  .our-menu .container .parent .div6 {
    grid-area: auto;
  }
  .our-menu .container .parent .div1 img,
  .our-menu .container .parent .div2 img,
  .our-menu .container .parent .div3 img,
  .our-menu .container .parent .div4 img,
  .our-menu .container .parent .div5 img,
  .our-menu .container .parent .div6 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.5s linear;
  }
  .our-menu .container .parent .div1 img:hover,
  .our-menu .container .parent .div2 img:hover,
  .our-menu .container .parent .div3 img:hover,
  .our-menu .container .parent .div4 img:hover,
  .our-menu .container .parent .div5 img:hover,
  .our-menu .container .parent .div6 img:hover {
    transform: scale(1.1);
  }
  .upcom {
    height: auto;
    padding: 50px 0;
  }
  .upcom .container .txt-center {
    padding: 30px 0;
  }
  .upcom .container .upcom-content {
    flex-direction: column;
    align-items: center;
  }
  .upcom .container .upcom-content .left {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .upcom .container .upcom-content .left img {
    width: 80%;
    margin-bottom: 40px;
  }
  .upcom .container .upcom-content .right {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 767px) {
  .customer-review .container .txt-center img {
    width: 80px;
    height: 80px;
    border-width: 3px;
    margin-top: 20px;
  }
  .customer-review .container .txt-center p {
    margin: 0 20px;
    font-size: 16px;
  }
  .customer-review .container .txt-center ul {
    margin-top: 20px;
  }
  .customer-review .container .txt-center .bottom-dots {
    padding-top: 50px;
  }
  .customer-review .container .left {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }
  .customer-review .container .left button {
    width: 40px;
    height: 40px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 767px) {
  .video-sect .container .txt-content .tittle-span {
    font-size: 25px;
  }
  .video-sect .container .txt-content .tittle-h3 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .upcom .upcom-content .right .number {
    gap: 10px !important;
  }
  .content-intro {
    padding-left: 15px;
    padding-right: 15px;
  }
  .our-menu {
    margin-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .upcom-content .time-event {
    width: 100% !important;
    height: 50px !important;
    margin-bottom: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .upcom-content .left {
    width: 80% !important;
    display: flex;
    flex-wrap: wrap;
  }
  .upcom-content .left img {
    width: 100% !important;
    margin-bottom: 0 !important;
  }
  .upcom-content .right {
    width: 80% !important;
    padding-bottom: 25px;
  }
  .upcom-content .right .number {
    justify-content: center;
  }
  .reservation-sect .container .row .book-pic {
    width: 100%;
  }
  .blog-sect .container .text-cent {
    padding: 50px 0;
  }
  .blog-sect .container .row {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .blog-sect .container .row .col-4 {
    padding-top: 0;
  }
  .blog-sect .container .row .col-4 img {
    border-radius: 0;
  }
  .blog-sect .container .row .col-4 .time-sect p {
    left: 0;
    bottom: 0;
    padding: 10px;
    font-size: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .sign-up .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sign-up .row input {
    margin-left: auto;
    margin-right: auto;
  }
  .sign-up .col-4 a button {
    width: 50%;
  }
  .sign-up .col-4 {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .sign-up .col-4 p {
    margin: 10px 0;
  }
  .sign-up .col-4 input.form-control {
    width: calc(100% - 60px);
    margin-bottom: 10px;
  }
  .sign-up .col-4 i.fa-solid.fa-envelope {
    position: static;
    display: block;
    margin-right: 60px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.hero-banner {
  background-image: url("/assests/images/bg-title-page-01.jpg.webp");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-banner h2 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 6px;
  word-spacing: 6px;
  text-align: center;
}

.main-menu {
  padding: 100px 0;
  background-image: url("/assests/images/pattern1.png.webp");
  background-repeat: repeat;
}
.main-menu .row .col-6 h3 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 25px;
}
.main-menu .row .col-6 a:hover {
  color: #ec1d25;
  cursor: pointer;
}
.main-menu .row .col-6 .price-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.main-menu .row .col-6 .price-item .price {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #333333;
  line-height: 1.2;
  text-transform: uppercase;
}
.main-menu .row .col-6 p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #666666;
  line-height: 1.7;
  padding-bottom: 30px;
}
.main-menu .row .col-6 .line {
  background-image: url("/assests/images/Menu_files/pattern3.png.webp");
  background-repeat: repeat;
  flex-grow: 1;
  height: 2px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
}
.main-menu .row .col-6 a {
  font-family: Poppins;
  font-weight: 300;
  font-size: 18px;
  color: #333333;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}

.lunch-menu .row .col-3 {
  padding-top: 30px;
}
.lunch-menu .row .col-3 .img-cont {
  overflow: hidden;
}
.lunch-menu .row .col-3 .img-cont img {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 30px;
  transition: 0.5s ease;
}
.lunch-menu .row .col-3 .img-cont img:hover {
  transform: scale(1.1);
}
.lunch-menu .row .col-3 .text-content {
  padding-top: 70px;
}
.lunch-menu .row .col-3 h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #333333;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 30px;
}
.lunch-menu .row .col-3 h4:hover {
  color: #ec1d25;
  cursor: pointer;
}
.lunch-menu .row .col-3 p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #666666;
  line-height: 1.7;
}
.lunch-menu .row .col-3 .price {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #333333;
  line-height: 1.2;
  text-transform: uppercase;
}

.dinner-pic {
  background-image: url("/assests/images/Menu_files/header-menu-02.jpg.webp");
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 100px 0;
}

.lunch-pic {
  background-image: url("/assests/images/Menu_files/header-menu-01.jpg.webp");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.dinner-menu .row .col-3 {
  padding-top: 30px;
}
.dinner-menu .row .col-3 .img-cont {
  overflow: hidden;
}
.dinner-menu .row .col-3 .img-cont img {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 30px;
  transition: 0.5s ease;
}
.dinner-menu .row .col-3 .img-cont img:hover {
  transform: scale(1.1);
}
.dinner-menu .row .col-3 .text-content {
  padding-top: 70px;
}
.dinner-menu .row .col-3 h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #333333;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 30px;
}
.dinner-menu .row .col-3 p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #666666;
  line-height: 1.7;
}
.dinner-menu .row .col-3 .price {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #333333;
  line-height: 1.2;
  text-transform: uppercase;
}

.hero-banner {
  background-image: url("/assests/images/Menu_files/bg-title-page-02.jpg.webp");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-banner h2 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 6px;
  word-spacing: 6px;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-sect {
  display: flex;
  margin-top: 40px;
}
.info-sect .left {
  width: 55%;
  padding-right: 30px;
  padding-top: 40px;
}
.info-sect h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.info-sect .right {
  width: 45%;
  padding-top: 40px;
}
.info-sect p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  color: #666666;
  margin-top: 20px;
}
.info-sect span {
  color: #ec1d25;
}

.gallery .text-cent ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 80px 0;
}
.gallery .text-cent ul li {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.gallery .text-cent ul li:hover {
  background-color: black;
  width: 130px;
  height: 20px;
  border-radius: 10px;
  border: none;
  text-align: center;
  color: white;
}
.gallery .row .col-4 .image-container {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.gallery .row .col-4 .image-container .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 89.5%;
  background-color: rgba(255, 0, 0, 0.517);
  opacity: 0;
  border-radius: 3%;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery .row .col-4 .image-container .overlay div {
  border-radius: 50%;
  background-color: white;
  padding: 20px;
}
.gallery .row .col-4 .image-container .overlay i {
  font-size: 18px;
  color: black;
}
.gallery .row .col-4 img {
  width: 100%;
  margin-top: 40px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.gallery .row .col-4 .image-container:hover .overlay {
  opacity: 1;
}
.gallery .row .col-4 .image-container:hover img {
  transform: scale(1.05);
  border-radius: 7%;
}
.gallery .click ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery .click ul li a button {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: 6px;
  border-style: none;
  border: 1px solid #666666;
}
.gallery .click ul li a button:hover {
  background-color: #333333;
  color: white;
}

.hero-banner {
  background-image: url("/assests/images/Menu_files/bg-title-page-03.jpg.webp");
}

.text-center {
  background-image: url("/assests/images/pattern2.png.webp");
  padding: 100px 0;
}
.text-center .tittle-span {
  font-family: "Courgette";
  font-size: 30px;
  line-height: 1.2;
  color: #d61c22;
}
.text-center .tittle-h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 6px;
  color: black;
  padding: 10px 0;
}
.text-center #tittle-p {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #666666;
  font-weight: 400;
  margin: 0px 22px 28px;
  line-height: 1.7;
  padding: 30px 0;
}

.welcome-sect .row .text-sect .left .tittle-h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 6px;
}
.welcome-sect .row .text-sect .right {
  border-radius: 10px;
  overflow: hidden;
}
.welcome-sect .row .text-sect .right img {
  transition: 300ms linear;
}
.welcome-sect .row .text-sect .right img:hover {
  transform: scale(1.1);
}

.romantic-rest {
  background-image: url("/assests/images/pattern1.png.webp");
  padding: 100px 0;
}
.romantic-rest .row .text-sect {
  display: flex;
  gap: 50px;
}
.romantic-rest .row .text-sect .left {
  text-align: center;
  width: 75%;
}
.romantic-rest .row .text-sect .left .img-container {
  border-radius: 10px;
  overflow: hidden;
}
.romantic-rest .row .text-sect .left .img-container img {
  width: 100%;
  transition: 300ms linear;
}
.romantic-rest .row .text-sect .left .img-container img:hover {
  transform: scale(1.1);
}
.romantic-rest .row .text-sect .right {
  text-align: center;
}
.romantic-rest .row .text-sect .right .text-sect {
  padding: 0;
  display: block;
}
.romantic-rest .row .text-sect .right .text-sect .tittle-span {
  font-family: "Courgette";
  font-size: 30px;
  line-height: 1.2;
  color: #d61c22;
}
.romantic-rest .row .text-sect .right .text-sect .tittle-h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 6px;
  color: black;
  padding: 10px 0;
}
.romantic-rest .row .text-sect .right .text-sect #tittle-p {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #666666;
  font-weight: 400;
  margin: 0px 22px 28px;
  line-height: 1.7;
  padding: 30px 0;
}

.video-sect {
  background-image: url("/assests/images/bg-cover-video-02.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 90vh;
}

.chef-sect {
  padding: 100px 0;
}
.chef-sect .text-sect {
  text-align: center;
}
.chef-sect .text-sect .tittle-span {
  font-family: "Courgette";
  font-size: 30px;
  line-height: 1.2;
  color: #d61c22;
}
.chef-sect .text-sect .tittle-h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 6px;
  color: black;
  padding: 10px 0;
}
.chef-sect .col-4 .image-container {
  padding: 50px 0;
  text-align: center;
}
.chef-sect .col-4 .image-container a img {
  border-radius: 50%;
  width: 50%;
  border: 5px solid #ec1d25;
  vertical-align: middle;
}
.chef-sect .col-4 .txt {
  text-align: center;
  padding: 90px 35px 30px 35px;
  border: 2px solid #e6e6e6;
  border-radius: 10px;
  min-height: 320px;
}
.chef-sect .col-4 .txt a {
  text-decoration: none;
  color: black;
}
.chef-sect .col-4 .txt a h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #333333;
  letter-spacing: 2px;
}
.chef-sect .col-4 .txt #chef {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #666666;
  text-transform: uppercase;
  line-height: 1.8;
}
.chef-sect .col-4 .txt p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  color: #666666;
  margin: 0;
}

.blog-hero-banner {
  background-image: url("/assests/images/Menu_files/bg-title-page-03.jpg.webp");
  width: 100%;
  min-height: 545px;
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-hero-banner h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  letter-spacing: 6px;
  word-spacing: 6px;
  text-align: center;
}

.main-content > * {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}

.breadcrumb {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  padding-top: 17px;
  padding-bottom: 17px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 0;
}
.breadcrumb .content {
  margin: auto;
  width: 100%;
  color: #999999;
}
.breadcrumb .content .content-home {
  font-weight: 400;
}
.breadcrumb .content .content-home a {
  color: #222222;
  text-decoration: none;
  transition: all 300ms;
}
.breadcrumb .content .content-home a:hover {
  color: red;
}
.breadcrumb .content .content-center {
  margin-left: 10px;
  margin-right: 10px;
}

.blog-content {
  display: flex;
  flex-wrap: wrap;
}
.blog-content .left {
  padding-top: 40px;
  width: 75%;
  border-right: 1px solid #e6e6e6;
  padding-bottom: 100px;
}
.blog-content .left .blog {
  margin-bottom: 80px;
  margin-top: 20px;
}
.blog-content .left .blog .img-container {
  border-radius: 10px;
  overflow: hidden;
  width: 90%;
  position: relative;
}
.blog-content .left .blog .img-container .blog-date {
  text-align: center;
  background-color: #ec1d25;
  border-radius: 10px;
  padding: 10px;
  font-size: 12px;
  width: 80px;
  height: 82px;
  top: 20px;
  left: 20px;
  position: absolute;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  z-index: 10;
}
.blog-content .left .blog .img-container .blog-date .date {
  font-size: 39px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1px;
}
.blog-content .left .blog .img-container .blog-date .date-2 {
  margin-top: 10px;
}
.blog-content .left .blog .img-container img {
  transition: 300ms linear;
  width: 100%;
}
.blog-content .left .blog .img-container img:hover {
  transform: scale(1.1);
}
.blog-content .left .blog .blog-text {
  padding-top: 25px;
  width: 90%;
}
.blog-content .left .blog .blog-text .title {
  padding-bottom: 10px;
}
.blog-content .left .blog .blog-text .title a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: all 300ms;
  text-decoration: none;
}
.blog-content .left .blog .blog-text .title a:hover {
  color: red;
}
.blog-content .left .blog .blog-text .details {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #808080;
  line-height: 1.5;
  padding-bottom: 15px;
}
.blog-content .left .blog .blog-text .description {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}
.blog-content .left .blog .blog-text .continue {
  margin-top: 20px;
}
.blog-content .left .blog .blog-text .continue a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 300ms;
}
.blog-content .left .blog .blog-text .continue a:hover {
  color: red;
}
.blog-content .left .pagination {
  padding-top: 10px;
}
.blog-content .left .pagination .page-number {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #808080;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
  margin: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 300ms;
}
.blog-content .left .pagination .page-number:hover {
  background-color: #333333;
  color: white;
}
.blog-content .left .pagination #page-1 {
  background-color: #333333;
  color: white;
}
.blog-content .right {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  width: 25%;
}
.blog-content .right .search-section {
  width: 100%;
  height: 50px;
  position: relative;
  font-family: "Montserrat", sans-serif;
}
.blog-content .right .search-section .search-input {
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  color: #666666;
  border: 2px solid #d9d9d9;
  padding-left: 20px;
}
.blog-content .right .search-section i {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #333333;
}
.blog-content .right h4 {
  margin-top: 20px;
  padding-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.blog-content .right .categories {
  margin-top: 40px;
}
.blog-content .right .categories h4 {
  border-bottom: 1px solid #e6e6e6;
}
.blog-content .right .categories ul {
  list-style: none;
}
.blog-content .right .categories ul li {
  border-bottom: 1px solid #e6e6e6;
  padding-top: 8px;
  padding-bottom: 8px;
}
.blog-content .right .categories ul li a {
  text-decoration: none;
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.blog-content .right .popular {
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
}
.blog-content .right .popular .mini-detail {
  margin-bottom: 20px;
  display: flex;
}
.blog-content .right .popular .mini-detail .img-container {
  width: 30%;
  overflow: hidden;
  margin: 7px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-content .right .popular .mini-detail .img-container img {
  width: 100%;
}
.blog-content .right .popular .mini-detail .text-content {
  margin: 7px;
  width: 70%;
}
.blog-content .right .popular .mini-detail .text-content a {
  text-decoration: none;
  color: #222222;
  font-size: 12px;
  transition: all 300ms;
  display: block;
  word-spacing: 2px;
  font-weight: 500;
  letter-spacing: 1px;
}
.blog-content .right .popular .mini-detail .text-content a:hover {
  color: #ec1d25;
}
.blog-content .right .popular .mini-detail .text-content .date {
  display: block;
  color: #333333;
  margin-top: 15px;
  font-size: 13px;
}
.blog-content .right .archive {
  margin-top: 50px;
}
.blog-content .right .archive .months {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}
.blog-content .right .archive .months a {
  text-decoration: none;
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  transition: all 300ms;
}
.blog-content .right .archive .months a:hover {
  color: #ec1d25;
}
.blog-content .right .archive .months .number {
  color: #999999;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1px;
}

@media only screen and (max-width: 768px) {
  .main-content > * {
    padding-left: 15px;
    padding-right: 15px;
  }
  .blog-content .left {
    width: 100%;
    border: none;
  }
  .blog-content .right {
    width: 100%;
  }
}
.hero-banner {
  background-image: url("/assests/images/Menu_files/bg-title-page-02.jpg.webp");
}

.map {
  background-image: url("/assests/images/pattern1.png.webp");
  padding: 80px 0;
}
.map .txt-sect {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.2;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 100px 0;
}
.map iframe {
  border-radius: 15px;
}
.map .row {
  padding: 40px 0;
}
.map .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.map .btn p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.map button {
  width: 120px;
  height: 40px;
}
.map button:hover {
  background-color: #ec1d25;
  color: white;
  border-style: none;
}
.map .last .col-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}
.map .last .col-4 .img-container img {
  padding-right: 40px;
  padding-top: 6px;
}
.map .last .col-4 .txt #h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 10px;
}
.map .last .col-4 .span {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #666666;
  line-height: 1.7;
}
.map .last p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #666666;
  line-height: 1.7;
}