$font-family:'Montserrat',sans-serif;
$courgette:'Courgette';
$poppins:'Poppins',sans-serif;
$color-red:#ec1d25;
$bg-red:#d61c22;   
$bg-dark:black;
$bg-gray:#3D3D3D;
$color-white:white;
$font-h1:60px;
$font-p:90px;
